<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- AWESOMEPLETE SEARCH -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/events.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.js"></script>
	<script src="/js/tag_tool.js"></script>
	<title>blueberry</title>
</head>

<body>
	<header class="zen">
		<nav class="navbar navbar-default transparent" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
	         		<span class="icon-bar"></span>
	         		<span class="icon-bar"></span>
	         		<span class="icon-bar"></span>
      			</button>
				<a class="navbar-brand" href="#">
					<span class="weight-900 white">Blueberry</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/event/create">Create An Event</a></li>
					<li><a href="/logout">Sign Out</a></li>
			</div>

		</nav>





	</header>

	<main>

		<!-- EVENTS LIST -->
		<section id="event_list">
			<div class="container">
				<div class="row">
					<h2 class="text-center">Upcoming Events</h2>

					<section class="side-search col-xs-3">
						<h4>Search for subjects</h4>
						<!-- <div class="caption"> -->
							<form id="search-form" class="searchform form-control">
								<div id="tag_list">
									<ul id="user_tag_list">
									</ul>
								</div>
								<input type="search" name="search_tag" id="tag-search-box" list="search-tags">
								<input id="user_id" type="hidden" name="user_id" value="{{me.id}}">
								<datalist id="search-tags">
				          {{#each all_tags}}
				          	<option>{{this.title}}</option>
				        {{/each}}
				      	</datalist>
								<button type="submit" class="btn btn-default">Add Subject</button>
						</form>
						<label class="checkbox">
						<input type="checkbox"> Only search my subjects!
					</label>
						<p><a href="#" class="btn btn-info pull-right" role="button">Search</a></p>
						<!-- </div> -->

					</section>

					<div class="col-sx-1">
					</div>

					<ul class="col-xs-8">
						{{#each events}}

							<li class="list-group-item event row">
								<a href="/event/{{this.id}}"></a>
								<div class="col-xs-6">
									<div>
										{{this.location.title}} <span class="opacity-5">{{this.location.area}}</span></div>
									<h3>{{this.title}}</h3>
									<div><strong>{{this.date}}</strong> {{this.start}} - {{this.end}}
									</div>
								</div>
								<div class="col-xs-6 text-right">
									<ul class="tag-list">
										{{#each this.tags}}
											<li class="tag">
												<a href="/events">
												{{this}}
											</a>
											</li>
										{{/each}}
									</ul>
									<div>
										<div class="event_user">
											<a href="/user/{{this.host.id}}">
												<img class="event_avatar" alt="user photo" src="{{this.host.avatar}}">
												<span>{{this.host.display_name}}</span>
										</div>
										<div>xp {{this.host.xp}} | <img alt="star" src="/img/star.png" style="height: 1em"> {{this.host.rating}}
										</div>
									</div>
								</div>

							</li>
							</a>
						{{/each}}
					</ul>
				</div>
			</div>
		</section>
		</div>
		</div>
	</main>

	<footer>
		<div class="container">
			<p>PRESS</p>
			<p>CONTACT</p>
			<p>SITEMAP</p>
			<p>DONATE</p>
			<p>© 2017 All rights reserved</p>
			<p><a href="#">Usage Policy</a></p>
			<p><a href="%">About the Site</a></p>
		</div>
	</footer>
</body>

</html>
