<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- AWESOMEPLETE SEARCH -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/events.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.js"></script>
	<script src="/js/tag_tool.js"></script>
	<title>blueberry</title>
</head>

<body>
	<header class="navbar-fixed-top">
		<nav class="navbar">
			<div class="container white">
				<a class="navbar-brand" href="#">
					<span class="weight-900">blueberry</span>
					<!-- <img alt="blueberry logo" src="/img/logo.png"> -->
				</a>
				<ul class="nav navbar-nav pull-right">
					<li>
						<a id="create_event" href="event/create">Create Event</a>
					</li>
					<li>
						<a href="/logout">Sign Out</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<section id="landing" style="padding-bottom: 50px; padding-top: 50px;">
			<!-- <h1>in each of us is a student and a teacher. blueberry helps us be both.</h1> -->
		</section>

		<!-- EVENTS LIST -->
		<section id="event_list">
			<div class="container">
				<div class="row">
					<h2 class="text-center">Upcoming Events</h2>

					<section class="side-search col-xs-3">
						<h2 class="text-center subject-text">Subjects of Interest</h2>
						<ul>
							<li></li>
						</ul>

						<div class="caption">
							<form id="search-form" class="searchform group text-center">
								<div id="tag_list">
									<ul id="user_tag_list">
									</ul>
								</div>
								<input type="search" name="search_tag" class="text-center" id="tag-search-box" list="search-tags">
								<input id="user_id" type="hidden" name="user_id" value="{{me.id}}">
								<datalist id="search-tags">
				          {{#each all_tags}}
				          	<option>{{this.title}}</option>
				        {{/each}}
				      	</datalist>
								<input type="submit" value="Add a Subject">
							</form>
							<form id="search_submit" action="/events/search" method="POST">
								<label class="checkbox">
    				<input id="check_limit" type="checkbox"> Only search my subjects!
  					</label>
								<p><button id="search_button" class="btn btn-primary" type="submit">Search</button></p>
							</form>
						</div>

					</section>

					<div class="col-sx-1">
					</div>

					<ul class="col-xs-8">
						{{#each events}}

							<li class="list-group-item event row">
								<a href="/event/{{this.id}}"></a>
								<div class="col-xs-6">
									<div>
										{{this.location.title}} <span class="opacity-5">{{this.location.area}}</span></div>
									<h3>{{this.title}}</h3>
									<div><strong>{{this.date}}</strong> {{this.start}} - {{this.end}}
									</div>
								</div>
								<div class="col-xs-6 text-right">
									<ul class="tag-list">
										{{#each this.tags}}
											<li class="tag">
												<a href="/events">
												{{this}}
											</a>
											</li>
										{{/each}}
									</ul>
									<div>
										<div class="event_user">
											<a href="/user/{{this.host.id}}">
												<img class="event_avatar" alt="user photo" src="{{this.host.avatar}}">
												<span>{{this.host.display_name}}</span>
										</div>
										<div>xp {{this.host.xp}} | <img alt="star" src="/img/star.png" style="height: 1em"> {{this.host.rating}}
										</div>
									</div>
								</div>

							</li>
							</a>
						{{/each}}
					</ul>
				</div>
			</div>
		</section>
		</div>
		</div>
	</main>

	<footer>
		<div class="container">
			<p>PRESS</p>
			<p>CONTACT</p>
			<p>SITEMAP</p>
			<p>DONATE</p>
			<p>© 2017 All rights reserved</p>
			<p><a href="#">Usage Policy</a></p>
			<p><a href="%">About the Site</a></p>
		</div>
	</footer>
</body>

</html>
