<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  	crossorigin="anonymous"></script>
  	<!-- BOOTSTRAP -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<!-- SO EJS CAN USE JS -->
	<!-- <script type="text/javascript" src="ejs_production.js"></script> -->
	<title>BlueBerry</title>
</head>

<body>
	<header>
		<div class="container-fluid header">
			<div class="row">
 				<div class="col-md-6 logo">
 					<h1>BlueBerry</h1>
 				</div>
  				<div class="col-md-6">
					<nav class="nav-top">
                		<ul>
		                  <li><a href="#">Sign-In</a></li>
		                  <li><a href="#">Sign-Up</a></li>
		               </ul>
             		 </nav>
  				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="description">This is the description of our app!</h1>
				</div>
			</div>
			</div>
			<!-- SEARCH BAR -->
			<div class="container-fluid">
			<div class="row search">
				<div class="col-md-12 search-bar">
					<form class="searchform group">
  					<label for="search-box">
   						 <span class="spanText">What do you want to learn?!</span>
  					</label>
 					<input type="search" id="search-box" placeholder="JavaScript">
					</form>
				</div>
			</div>
		</div>
		<!-- EVENTS LIST -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12"> 
				<ul class="list-group">
				<% events.forEach(event => { %>
					   
		   				<li class="list-group-item active"> <%= event.title %> </li>
		   				<li class="list-group-item"> <%= event.location.venue %> </li>
		   				<li class="list-group-item"> <%= event.location.address %> </li>
		   				<li class="list-group-item"> <%= event.location.area %> </li>
		   				<li class="list-group-item"> <%= event.start %> </li>
		   				<li class="list-group-item"> <%= event.skill_level %> </li>
		   				<li class="list-group-item"> <%= event.capacity %> </li>
		   				<li class="list-group-item"> <%= event.end %> </li>
		   				<li class="list-group-item"> <%= event.description %> </li>
		   				<li class="list-group-item"> <%= event.tags %> </li>
		   				<li class="list-group-item"> <%= event.host.avatar %> </li>
		   				<li class="list-group-item"> <%= event.host.display_name %> </li>
		   				<li class="list-group-item"> <%= event.host.rating %> </li>
		   				<li class="list-group-item"> <%= event.host.xp %> </li>
		   				<li class="list-group-item"> <%= event.host.bio %> </li>
					
				<% }); %>
				</ul>
				</div>
			</div>
		</div>


	</main>



<footer>
	<div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
     		 	<p>PRESS</p>
     		 	<p>CONTACT</p>
     		 	<p>SITEMAP</p>
      		 	<p>DONATE</p>
     		 	<p>© 2017 All rights reserved</p>
     		 	<p><a href="#">Usage Policy</a></p>
      			<p><a href="%">About the Site</a></p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
