<!DOCTYPE html>
<html lang="en">
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- AWESOMEPLETE SEARCH -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.js"></script>
	<script src="/js/sign.js"></script>
	<script src="/js/tag_search.js"></script>
	<title>BlueBerry</title>
</head>

<body>
	<header class="navbar-fixed-top">
		<nav class="navbar">
			<div class="container white">
				<a class="navbar-brand" href="#">
					<span class="weight-900">blueberry</span>
					<img alt="blueberry logo" src="/img/logo.png">
				</a>
				<ul class="nav navbar-nav pull-right">
					<li>
						<a id="login-trigger">Sign-In</a>
						<div id="login-content" class="text-center">
							<form method="POST" action="/login">
								<fieldset id="inputs">
									<label for="username" class="sr-only">Email</label>
									<input autofocus required id="username" type="email" name="email" placeholder="email" required>
									<label for="password" class="sr-only">Password</label>
									<input required id="password" type="password" name="password" placeholder="Password" required>
								</fieldset>
								<fieldset id="actions">
									<input type="checkbox" checked="checked">
									<label>Keep me signed in</label>
									<button class="button btn btn-info" type="submit" id="submit">Sign-In</button>
								</fieldset>
							</form>
						</div>
					</li>
					<li><a href="/registration-form.html">Sign-Up</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<section id="landing">
			<!-- <h1>in each of us is a student and a teacher. blueberry helps us be both.</h1> -->
			<!-- SEARCH BAR -->
			<form id="search-form" class="searchform group text-center">
				<label for="search-box">
   					<span class="spanText">What do you want to learn?</span>
  			</label>
				<input autofocus type="search" class="text-center" id="search-box" list="search-tags">
				<datalist id="search-tags">
          {{#each all_tags}}
          	<option>{{this.title}}</option>
        {{/each}}
      	</datalist>
			</form>
			<div class="text-center"><a>I want to teach a subject</a></div>
		</section>
		<!-- EVENTS LIST -->
		<section id="event_list">
			<div class="container">
				<h2 class="text-center">Upcoming Lessons</h2>
				<ul class="list-group container margin-top-2rem">
          {{#each events}}
						<li class="list-group-item event row">
							<div class="col-xs-6">
								<div>
                  {{this.location.title}} <span class="opacity-5">{{this.location.area}}</span></div>
								<h3>{{this.title}}</h3>
								<div><strong>{{this.date}}</strong>
									{{this.start}} -
										{{this.end}}
								</div>
							</div>
							<div class="col-xs-6 text-right">
								<ul class="tag-list">
                  {{#each this.tags}}
										<li class="tag">
											<a href="/events">
												{{this}}
											</a>
										</li>
									{{/each}}
								</ul>
								<div>
									<div class="event_user">
										<a href="/users">
										<img class="event_avatar" alt="user photo" src="{{this.host.avatar}}">
										<span>{{this.host.display_name}}</span>
									</a>
									</div>
									<div>xp
										{{this.host.xp}} | <img alt="star" src="/img/star.png" style="height: 1em">
											{{this.host.rating}}
									</div>
								</div>
							</div>

						</li>
            {{/each}}
				</ul>
			</div>
		</section>
	</main>

	<footer>
		<div class="container">
			<p>PRESS</p>
			<p>CONTACT</p>
			<p>SITEMAP</p>
			<p>DONATE</p>
			<p>© 2017 All rights reserved</p>
			<p><a href="#">Usage Policy</a></p>
			<p><a href="%">About the Site</a></p>
		</div>
	</footer>
</body>

</html>
